[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
autopep8 = "*"
django-cors-headers = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
pycodestyle = "*"
pyjwt = "*"
pytz = "*"
drf-yasg = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
